{
	"env": {
		"es6": true,
		"browser": true,
		"jest": true
	},
	"extends": [
		"airbnb-base",
		"plugin:prettier/recommended",
		"prettier"
		
	],
	"plugins": [
		"babel",
		"prettier"
		
	],
	"rules": {
	"no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],

	"no-unused-vars": "off",
	"no-unused-expressions": "off",
	"prettier/prettier": "error",
	"max-classes-per-file": "off",
	
	"prefer-destructuring": "off",
	"no-param-reassign": "off",
	"no-return-assign": "off",
	"class-methods-use-this": 0,
	"array-callback-return":"off",
	"consistent-return": "off",
	"no-plusplus": "off"

	}

}